<div>
    <h2 data-translate="jirapsterApp.tarefa.home.title">Tarefas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tarefa.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="jirapsterApp.tarefa.home.createLabel">
                        Create new Tarefa
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3">
            <p>Backlog</p>
            <div ng-repeat="tarefa in vm.tarefas track by tarefa.id">
                <a href="#" ng-if="tarefa.status=='Backlog'"
                   ui-sref="tarefa.edit({id:tarefa.id})">
                    #{{tarefa.id}} - {{tarefa.titulo}}
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <p>Fazendo</p>
            <div ng-repeat="tarefa in vm.tarefas track by tarefa.id">
                <a href="#" ng-if="tarefa.status=='Fazendo'"
                   ui-sref="tarefa.edit({id:tarefa.id})">
                    #{{tarefa.id}} - {{tarefa.titulo}}
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <p>Feito</p>
            <div ng-repeat="tarefa in vm.tarefas track by tarefa.id">
                <a href="#" ng-if="tarefa.status=='Feito'"
                   ui-sref="tarefa.edit({id:tarefa.id})">
                    #{{tarefa.id}} - {{tarefa.titulo}}
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <p>Cancelada</p>
            <div ng-repeat="tarefa in vm.tarefas track by tarefa.id">
                <a href="#" ng-if="tarefa.status=='Cancelar'"
                   ui-sref="tarefa.edit({id:tarefa.id})">
                    #{{tarefa.id}} - {{tarefa.titulo}}
                </a>
            </div>
        </div>
    </div>
</div>
